* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background:#282d4a;
}

#pagina {
    background-color: #7580b4;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

#c2 {
    margin: 5%;
}